.activities {
  max-width: 760.437rem;
  margin: 0 auto 5.875rem auto;
  text-align: center;
}
.activities__heading {
  font-size: 3rem;
  line-height: 3.625rem;
  margin-bottom: 3.062rem;
  position: relative;
  z-index: 1;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.activities__heading::after {
  content: "";
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  right: 0;
  left: 15%;
  border-radius: 0.625rem;
  background-color: #8fd192;
  z-index: -1;
}
.activities__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.812rem;
}
.activities__row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.062rem;
  position: relative;
}
.activities__article__right {
  flex-direction: row-reverse;
}
.activities__row > div > div {
  position: relative;
  width: 12.562rem;
  height: 18.125rem;
  background-color: #8fd192;
  border-radius: 0.625rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.25rem;
}
.activities__row > div > div > h3 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  text-align: center;
}
.activities__row > div > div > p {
  font-size: 1rem;
  line-height: 1.187rem;
  text-align: center;
}
.activities__row > div:nth-child(odd) > img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -11.25rem;
  z-index: 0;
}
.activities__row > div:nth-child(even) > img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -11.25rem;
  z-index: 0;
}
@media only screen and (max-width: 1023px) {
  .activities__row {
    flex-direction: column;
  }
  .activities__row > div:nth-child(odd) > img {
    top: 7%;
    bottom: inherit;
    right: 50%;
  }
  .activities__row > div:nth-child(even) > img {
    bottom: 7%;
    top: inherit;
    left: 50%;
  }
  .activities__row > div:nth-of-type(odd) {
    position: relative;
    left: 50%;
  }
  .activities__row > div:nth-of-type(even) {
    position: relative;
    right: 50%;
  }
}
